* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    height: 65px;
    background: linear-gradient(90deg, #3498db  1.18%, #A626D3 100%);
    color: white;
    padding: 20px;
}
main {
    padding: 36px;
}
.headerImage{
    height : 4rem;
    margin-right: auto;
    max-width: 10rem;
}
.title{
    font-size: 1.24rem;
    margin-right: auto;
    
}
.headerH3{
    font-size: .8rem;
    margin-right: auto;
    font-weight: 1000;
}
.form {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap : 7px;

}
.getImageButton{
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    background: linear-gradient(90.41deg, #A818DA 1.14%, #e74c3c 100%);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.formInput{
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    margin: 0;
    align-items: center;
    text-indent: 5px;
}
.memeImage{
    max-width: 100%;
    border-radius: 3px;
}
.imageContainer{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}
.bottom {
    bottom: 0;
}

.top {
    top: 0;
}